.no-found { border: 1px solid; display: table; letter-spacing: 3px; margin: auto; padding: 8px 40px; text-align: center; text-transform: uppercase; }
.products.owl-carousel .owl-item img { transform-style: flat; }
.products.owl-carousel .owl-dots { margin-top: 20px; }